body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #000;
    padding: 20px;
}

.page-header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background: #3399ff;
    top: 0;
    left: 0;
}

.page-header h3.header-title {
    font: 25;
    margin-top: 50px;
    font-size: 40px;
    text-align: left;
    text-indent: 15px;
    text-decoration-line: underline;
    text-decoration-color: #339;
    margin: 0;
}

.page-header p.menu {
    text-align: right;
    margin-right: 20px;
    font: 12 arial;
}

.team-data {
    margin-top: 120px;
    width: 800px;
    margin-left: 150px;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    border: 2px solid #3399ff;
}

.team-data h2 {
    margin-bottom: 20px;
    color: #3399ff;
    font-size: 2rem;
    border-bottom: 1px solid #3399ff;
    padding-bottom: 8px;
}

.team-data h1 {
    text-align: center;
    color: #3399ff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.team-member {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #3399ff;
}


.member-name {
    color: #3399ff;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.member-role, .member-languages, .member-profile {
    margin-left: 50px;
    font-size: 1rem;
    color: #000;
}

.toggle-info {
    background: none;
    border: none;
    color: #3399ff;
    cursor: pointer;
}

.toggle-info .arrow {
    font-size: 1.5rem;
}

.member-info {
    display: none;
}

.member-info.show {
    display: block;
}