<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Nuestro Equipo</title>
    <link rel="stylesheet" th:href="PresentationStyles.css">
</head>
<header class="page-header">
    <a th:href="@{/MainPage}">
        <img src="images/Logo.png" alt="logo" class="logo-image">
    </a>
    <p class="Menu">
        <a href="/description">Descripción del proyecto</a>
        <a href="/contacto">Contáctenos</a>
    </p>
</header>
<body>
<div class="team-section">
    <h2 class="section-title">Nuestro Equipo</h2>
    
    <div class="team-container">
        <div class="team-card" th:each="member : ${teamMembers}">
            <img th:src="@{${member.imageUrl}}" th:alt="'Foto de ' + ${member.name}">
            <h3 th:text="${member.name}">Nombre Miembro</h3>
            <p th:text="${member.role}">Rol del Miembro</p>
            <p th:text="${member.languages}">Lenguajes</p>
            <p th:text="${member.profile}">Perfil</p>
        </div>
    </div>
</div>
</body>
</html>